
<div id="rotated_container">
<div><input type="text" placeholder="Sample Text" style="border:solid 1px black"></div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(img/2.jpg)">
        <a href="#"></a>
        <div class="reflection"></div>
      </div>
      <div class="swiper-slide" style="background-image:url(img/1.jpg)">
        <a href="#"></a>
        <div class="reflection"></div>
      </div>
      <div class="swiper-slide" style="background-image:url(img/4.jpg)">
        <a href="#"></a>
        <div class="reflection"></div>
      </div>
      <div class="swiper-slide" style="background-image:url(img/7.jpg)">
        <a href="http://www.idangero.us/cs/" target="_blank"></a>
        <div class="reflection"></div>
      </div>
      <div class="swiper-slide" style="background-image:url(img/6.jpg)">
        <a href="#"></a>
        <div class="reflection"></div>
      </div>
    </div>
  </div>
</div>